#Header {
    background-color: #001e6c;
}

#Header div h1 {
    color: #ffaa4c;
}

#Login_header {
    background-color: #5089c6;
    color: whitesmoke;
}

#Header #Logo {
    src: "./icon.png";
}

.dropbtn {
    background-color: #5089c6;
}

.form-container {
    background-image: url("/Login_back_default.png");
}

#myForm {
    background-image: linear-gradient(to bottom right, #5089c6, #001e6c);
}

tbody tr:hover
{
  background-color: rgb(236, 236, 236);
}

#first_tr{
  background-color:#2196f3BB;
  color:black;
}
#DataBase_manager
{
    background-image:linear-gradient(to bottom, #5089c6, #ffffff00);
}

.hasDays
{
  background-color: #2196f3BB;
  color: white;
  font-weight: bold;
}

button:hover, .custom-file-upload:hover
{
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}

.custom-file-upload
{
    background-color: whitesmoke;
}

#Filter_div
{
  background-color: whitesmoke;
}

button:hover, .custom-file-upload:hover
{
  background-color: #bbbbbb;
  cursor: pointer;
}

#DeleteAlert .modal-header
{
  background-color: #2196f3;
}

#Registration .modal-header, #Registration h5
{
  color: white();
  background-color: #2196f3;
}