
table tbody
{
  width: 100%;
  padding: 0 20px;
  text-align: left!important;
}

th
{
  border: 1px solid black;
  padding: 10px;
}
#DataBase_Table
{
  text-align: center;
  width: 100%;
}

#Search_txt
{
  height: 50px;
  width: 280px;
  margin-bottom: 5px;
}

a
{
  color:black;
  text-decoration: none;
}
a:hover
{
  text-decoration: none;
  color:rgb(49, 49, 49);
}

#DataBase_manager
{
  padding: 25px;
  float: right;
  margin: 0;
  height: auto;
}


#DataBase_manager button
{
  font-weight: bold;
  height: 70px;
  width: 280px;
  border-radius: 10px;
  margin-bottom: 20px;
}

button img, .btn_image
{
  width: 20px; 
}



input[type="file"]
{
  display: none;
}

.custom-file-upload
{
  font-weight: bold;
  height: 50px;
  width: 280px;
  border-radius: 10px;
  margin-bottom: 5px;
  border: 1px solid black;

  text-align: center;
  padding-top: 13px;
}

#Filter_div
{
  font-weight: bold;
  height: auto;
  width: 280px;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid black;
}

#DataBase_manager .button button
{
  height: 50px;
  margin-bottom: 5px;
}

.Login_button{
  width: 200px;
}

.Login_icon{
  height: 25px;
  width: auto;
}

a img
{
  height: 18px;
  width: auto;
}

.button{
  margin-bottom: 20px;
  display: none;
}

.Admin_button
{
  width: 200px;
}

.Admin_button img{

  height: 25px;
  width: auto;
}

.Admin_button a img
{
  height: 18px;
}

.PaidImage
{
  width: 20px;
}

.Cancel_btn
{
  background-color: #FF2600;
  color:white;
}

.Cancel_btn:hover
{
  background-color: #921600;
}

.DaysOption
{
  background-color: white;
  color: black;
}

#video
{
  position: relative;
  top: 130px;
  width: 90%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  
}