#Header {
    background-color: #0d1321;
}

#Header div h1 {
    color: #ffaa4c;
}

#Login_header {
    background-color: #3e5c76;
    color: whitesmoke;
}

#Logo {
    src: url("./dark_icon.png");
}

body {
    background-color: #1d2d44;
}

.dropbtn {
    background-color: #3e5c76;
}

.form-container {
    background-image: linear-gradient(to bottom right, #0d1321, #30475d);
}

#DataBase_manager
{
    background-image:linear-gradient(to bottom, #0d1321, #ffffff00);
}

tbody tr:hover
{
    background-color: rgba(0, 0, 0, 0.26);
}

#first_tr{
  background-color:#3e5c76;
  color:black;
}

.hasDays
{
  background-color: #0d1321;
  color: white;
  font-weight: bold;
}

tr
{
    color:white;
}

button
{
    background-color: #ffffffb0;
}

.custom-file-upload
{
    background-color: #ffffffb0;
}

#Filter_div
{
    background-color: #ffffffb0;
}

button:hover, .custom-file-upload:hover
{
  background-color: #8a8a8a;
  cursor: pointer;
}

#DeleteAlert .modal-header
{
  background-color: #3e5c76;
}