#Header {
  background-color: #0d1321;
}

#Header div h1 {
  color: #ffaa4c;
}

#Login_header {
  background-color: #3e5c76;
  color: whitesmoke;
}

#Logo {
  src: url("./dark_icon.png");
}

body {
  background-color: #1d2d44;
  color: whitesmoke;
}

.dropbtn {
  background-color: #3e5c76;
}

.form-container {
  background-image: linear-gradient(to bottom right, #0d1321, #30475d);
}

.Menu_calendar input,
button {
  background-color: #1d2d44;
  color: white;
  border: 1px solid whitesmoke;
}

#Menu_header,
#ResignMenu_header {
  background-image: radial-gradient(circle, #0d1321 10%, #1d2d4400);
  color: #ffaa4c;
}

#ResignMenu h1 {
  color: #ffaa4c;
}

.Weekday th {
  background-image: radial-gradient(circle, #1d2d4400 10%, #3e5c76 90%);
}
.Weekday {
  border-style: none none none none;
  border-width: 2px;
  border-color: #3e5c76;
}

.login {
  background: #3e5c76;
}

.login p {
  color: white;
}

.login button {
  background: #0d1321;
}

.login button:hover {
  background: #152447;
}

#Resign_div,
#ResignMenu_div {
  border: 1px solid rgb(104, 104, 104);
}

#Resign_div h1 {
  background-image: radial-gradient(circle, #0d1321 10%, #1d2d4400);
  color: #ffaa4c;
}

#Resign_icon {
  background-color: #0d1321;
}

.Resign_changer {
  background-color: #0d1321;
}
.Resign_changer:hover {
  background-image: radial-gradient(circle, #0d1321 5%, #1d2b4d 100%);
}

.list-group-item {
  background-color: #1d2d44;
  color: whitesmoke;
}

.Menu_date {
  color: white !important;
  text-decoration: none;
}

#payment_view {
  background-color: #0d1321;
}

.modal-body,
.modal-footer {
  background-color: #152447 !important;
}
.modal-dialog {
  border: 2px solid white;
  border-radius: 5px;
}
.modal-header {
  background-color: #0d1321 !important;
}

@media only screen and (max-width: 728px) {
  #Resign_div h1 {
    background-image: none;
    color: #ffaa4c;
    font-size: 3em !important;
  }
}

#Ticket {
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color: #0d1321;
  border-radius: 5px;
}

#Ticket .container {
  background-color: rgba(109, 109, 109, 0.363);
  border-radius: 10px;
}

#Ticket_infos {
  border-color: whitesmoke !important;
}

.rowOdd,
.rowEven,
.rowOddorEven {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 1%;
}

.rowEven {
  background-color: rgba(75, 75, 75, 0.245);
}

@media only screen and (max-width: 728px) {
  .rowEven {
    background: none;
  }

  .rowOdd {
    background-color: rgba(95, 95, 95, 0.245);
  }
}
#personalData .accordion-body {
  background-color: #172138 !important;
}

#personalData .accordion-button {
  color: white !important;
  background-color: #3e5c76 !important;
}
#personalData .accordion-item {
  border: none !important;
}

.reportTexts{
  background-color: #172138;
  color:white;
}