#AllMenu {
    margin-top: 5%;
  }
  
  #Menu_header {
    color: #ffaa4c;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  #Menu_header h1 {
    font-size: 65px;
    letter-spacing: 3px;
  }
  #Menu_header div {
    font-size: 20px;
    padding: 1px;
  }
  #Menu_header div a {
    text-decoration: none;
  }
  .Menu {
    margin-top: 0px;
    text-align: center;
    height: auto;
  }
  
  .Menu_calendar {
    max-width: fit-content;
    position: absolute;
    margin-top: 25px;
    margin-left: 100px;
  }
  
  .Menu .row div {
    border-radius: 10px;
    margin: 2px;
    height: 300px;
  }
  
  .Menu {
    max-width: none;
    width: 90%;
    max-height: 300px;
  }
  
  .Weekday {
    font-weight: 900;
    height: 350px;
  }
  
  .Weekday td {
    padding-top: 40px;
  }
  
  .Weekday table {
    width: 100% !important;
  }
  
  .Weekday th {
    font-size: 20px;
  
    border-radius: 10px;
  }
  
  .allergens {
    position: relative;
    bottom: 0px;
    margin-top: 10%;
    width: 90%;
  }