@media only screen and (max-width: 728px) {
    #Ticket {
      position: relative;
      top: 100px;
      width: 100% !important;
    }
  
    #Ticket_infos {
      border: none !important;
    }
  
    #ResignBTN {
      font-size: 2em !important;
    }
  
    .cardData {
      width: 100% !important;
    }
  }
  
  @media only screen and (max-width: 900px) {
    #AllMenu {
      margin-top: 10%;
    }
  }
  
  @media only screen and (max-width: 512px) {
    #AllMenu {
      margin-top: 15%;
    }
  
    #Resign_div {
      margin: auto !important;
    }
  
    #Resign_div h1 {
      font-size: 2em !important;
    }
  
    .ResignByDateDivs {
      padding: 0px !important;
    }
  }
  