.personal-datas{

  .bank-account, .important, .password-change{
    border-radius: 1em;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px black;
    padding: 2%;
    margin-bottom: 5%;
  }

  .password-change{

    .passChange-btn{
      border-radius: 2em;
      border: 1px solid black;
      margin-top: 1em;
      font-size: 1.2em;
      padding: 0.2em 1.5em;
      transition: 0.5s;
      margin-left: 1em;
    }
    .passChange-btn:hover{
      border: 1px solid white;
      color:white;
    }
  }

  .header{
    height: max-content;
    margin-bottom: 5%;

    h1{
      float: left;
      margin: 0;
      font-size: 2em;
    }
    .modify-btn, .delete-btn{
      float: right;
      border-radius: 2em;
      border: 1px solid black;
      margin-top: 1em;
      transition: 0.5s;
      margin-left: 1em;
    }
    .modify-btn:hover,.delete-btn:hover{
      border: 1px solid white;
      color:white;
    }
  }

  .personal-tables{
    margin-top: 4em;
    width: 100%;
    tr{
      border-bottom: 1px solid #00000030;
    }
    tr:last-child{
      border: none;
    }
    td{
      padding: 0.6em;
    }

    .key{
      color: #ffffff50
    }

    .value{
      color:white;
    }
  }
}
.mobile-h1{
  font-size: 1.7em!important;
  margin-left: 0.2em!important;
}

.mobile-btn
{
  margin-top: 0em!important;
}
.personal-activities{
  .activities{
    border-radius: 1em;
    border: 1px solid black;
    box-shadow: 1px 1px 5px 1px black;
    padding: 4%;
    margin-bottom: 5%;
    height: 100%;
    
  }

  .desktop{
    margin-left: 5%;
  }


  .header{
    height: max-content;

    h1{
      float: left;
      margin: 0;
      font-size: 2em;
    }
    .refresh-btn{
      float: right;
      border-radius: 2em;
      font-size: 1em;
      margin-top: 0.4em;
      transition: 0.5s;
      margin-left: 1em;
    }
    .refresh-btn:hover{
      color:white;
    }

  }

  hr{
    margin: 3em 0;
    width: 100%;
  }

  .act{
    margin-bottom: 1em;

    .act-name{
      color:white;
    }
    .act-date{
      color:#ffffff50
    }
    .pay{
      color:rgb(173, 255, 47);
    }
    .cancel{
      color:rgb(255, 66, 66);
    }
    .undefined{
      color:rgb(255, 198, 41);
    }
    .modify{
      color: rgb(95, 151, 255)
    }
  }
}

.important, .password-change, .activities{
  background-color: var(--accountBackground);
}
