
.rowOdd,
.rowEven,
.rowOddorEven {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 1%;
  font-style: italic;

  span {
    margin-left: 3rem;
    font-style: initial;
  }
}

.rowEven {
  background-color: rgba(75, 75, 75, 0.245);
}

@media only screen and (max-width: 728px) {
  .rowEven {
    background: none;
  }

  .rowOdd {
    background-color: rgba(95, 95, 95, 0.245);
  }
}

.acc-body {
  background-color: #172138 !important;
  color: white;
}

.acc-head, .acc-head button  {
  color: white !important;
  background-color: #000010 !important;
  border: 2px solid whitesmoke!important;
}

.acc-head button {
  border: none !important;
}

