.flame {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.637);
    backdrop-filter: blur(5px);
    z-index: 20;

    #flame {
        width: 5rem;

        #flameTop {
            animation: fireTop 0.7s ease-in-out alternate-reverse infinite;
        }

        #paint0_radial_140_53 {
            animation: gradient 0.7s ease-in-out alternate-reverse infinite;

            #flameYellow {
                animation: fireYellow 5s ease-in-out alternate-reverse infinite;
            }

            #flameRed {
                animation: fireRed 5s ease-in-out alternate-reverse infinite;
            }
        }
    }
}

#flame-menu {
    width: 5rem;
    height: fit-content;

    #flameTop-menu {
        animation: fireTop 0.7s ease-in-out alternate-reverse infinite;
    }

    #paint0_radial_140_53-menu {
        animation: gradient 0.7s ease-in-out alternate-reverse infinite;

        #flameYellow-menu {
            animation: fireYellow 5s ease-in-out alternate-reverse infinite;
        }

        #flameRed-menu {
            animation: fireRed 5s ease-in-out alternate-reverse infinite;
        }
    }
}
