.login{
    position: relative;
    margin-top: 5%;

    .--input{
        background-color: #00000050;
        color: white;
    }

    .--header{
        letter-spacing: 0.2em;
    }

    .--img{
        width: 40%;
        float: right;
    }

    .card{
        border-radius: 3em;
        background-color:  var(--accountBackground);
        border: 1px solid black;
        box-shadow: 1px 1px 5px 1px black;


        button {
            font-family: inherit;
            font-weight: bold;
            color: white;
        
            letter-spacing: 2px;
        
            padding: 9px 20px;
            border: 1px solid white;
            border-radius: 1000px;
            background: transparent;
            transition: 0.3s;
            cursor: pointer;
            position: relative;
            margin-bottom: 5%;
            margin-top: 5%;
          }
        
          button:hover,
          button:active,
          .checked {
            color: rgb(255, 136, 0);
            background: none;
            border-color: rgb(255, 136, 0);
          }   
    }

    a{
        cursor: pointer;
    }

    .page-changer{
        transition: 0.5s;
        text-decoration: none;
    }
    .page-changer:hover{
        text-decoration: underline;
    }
}

.register{
    option{
        background-color: #494949;
    }


    .rule{
        color: var(--a-rule);
    }

    .page-changer{
        transition: 0.5s;
        text-decoration: none;
    }
    .page-changer:hover{
        text-decoration: underline;
    }
}