:root {
  --dark-blue: #001e6c;
  --blue: #035397;
  --light-blue: #5089c6;
  --orange: #ffaa4c;
  --bodyBackground: #fff;
  --darkModeFontColor: #000;
  --currentDay: #adf7b0;
  --accountBackground: #2e4558;
  --paymentCardBg: #000b26c0;
  --adminDb: #ffffff40;
  --adminDbFontKey: #ffffffa0;
  --a-rule: #5797ff;
  --navBarHeight: 6rem;
  --orderBlockWidth: 0px;
  --orderBlockHeight: 0px;
  --numberOfDays: 0;
  --dropDownHeight: 18.6rem;
  --searchBarHeight: 0px;
  --fullScreen: calc(100vh - 6rem - calc(var(--searchBarHeight)));
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-light: rgb(245, 248, 255);
  --clr-light-gray: #fff;
  --clr-blue: rgb(63, 134, 255);
  --clr-light-blue: rgb(171, 202, 255);
  --dateRangeBackground: #5089c630;
}

html {
  font-size: 62.5%;
  @media only screen and(max-width:600px) {
    font-size: 70%;
  }
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--bodyBackground);
  font-family: Verdana, sans-serif;
  padding-top: 6rem;
  transition: all .3s;
}

.hidden {
  visibility: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

footer {
  display: block;
  padding-top: 50px;
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
}

.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  z-index: 1301;
}
