.modal {
    background-color: #ffffff1a;
}

$brand-success: var(--blue);
$loader-size: 2rem;
$check-height: 1rem;
$check-width: 0.5rem;
$check-left: 0;
$check-thickness: 3px;
$check-color: $brand-success;

.circle-loader {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-left-color: $check-color;
    animation: loader-spin 1.2s ease-in infinite;
    position: relative;
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
}

.load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: rgb(4, 160, 4);
    transition: border 500ms ease-out;
}

.load-complete-error {
    -webkit-animation: none;
    animation: none;
    border-color: red;
    transition: border 500ms ease-out;
}

.cross {
    display: none;

    &::before,
    &::after {
        content: "";
        height: 2px;
        width: 0;
        background-color: red;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
        animation: cross 0.5s ease-out forwards;
    }

    &::after {
        animation: cross 0.5s 0.2s ease-out forwards;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.checkmark {
    display: none;

    &.draw:after {
        animation-duration: 800ms;
        animation-timing-function: ease;
        animation-name: checkmark;
        transform: translateX(50%) scaleX(-1) rotate(135deg);
    }

    &:after {
        opacity: 1;
        height: $check-height;
        width: $check-width;
        transform-origin: left top;
        border-right: $check-thickness solid rgb(4, 160, 4);
        border-top: $check-thickness solid rgb(4, 160, 4);
        content: "";
        left: $check-left;
        top: 50%;
        position: absolute;
    }
}

@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cross {
    0% {
        width: 0;
    }
    100% {
        width: 13px;
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: $check-width;
        opacity: 1;
    }
    40% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
    100% {
        height: $check-height;
        width: $check-width;
        opacity: 1;
    }
}
