.notfound {
    height: var(--fullScreen);
    display: flex;
    align-items: center;    
    flex-direction: column;
    justify-content: center;
    color: var(--darkModeFontColor);
    gap: 4rem;
    
    &--header {
        font-family: 'Courier New', Courier, monospace;
        @media only screen and (max-width: 900px) {
            font-size: 3.5rem;
        }

        @media only screen and (max-width: 800px) {
            font-size: 3rem;
        }

        @media only screen and (max-width: 700px) {
            font-size: 2.5rem;
        }

        @media only screen and (max-width: 600px) {
            font-size: 2rem;
        }

        @media only screen and (max-width: 500px) {
            font-size: 1.5rem;
        }
    }

    &--button {
        border: none;
        padding: 2rem;
        background-color: var(--orange);
        transform: skewX(-30deg);
        color: inherit;
        font-size: 1.7rem;
        text-decoration: none;
        transition: all .4s;
        box-shadow: 0 1rem 2rem rgba(0,0,0,.2);

        &:hover {
            color: #fff;            
            transform: skewX(-40deg);
            & > * {
                transform: skewX(40deg);
            }
        }

        & > * {
            transition: inherit;
            transform: skewX(30deg);
        }
    }

    &--svg {
        width: 60rem;
        height: max-content;

        @media only screen and (max-width: 900px) {
            width: 50rem;
        }

        @media only screen and (max-width: 800px) {
            width: 40rem;
        }

        @media only screen and (max-width: 600px) {
            width: 30rem;
        }

        @media only screen and (max-width: 500px) {
            width: 25rem;
        }
    }
}

#flame {
    .flameRed {
        // animation: name duration timing-function delay iteration-count direction fill-mode;
        animation: fire 3s infinite;
    }        
}

@keyframes fire {
    0% {
        stop-color: #f34915;
    }
    50% {
        stop-color: #ff0000;
    }
    100% {
        stop-color: #f34915;
    }
}

@keyframes fireTop {
    0% {
        d: path("M 121.063 0.20199 C 121.227 0.0693505 121.374 0.00105562 121.5 0 C 121.354 0.0673598 121.209 0.13469 121.063 0.20199 C 117.774 2.86276 107.608 31.4164 122.29 62.5 C 136.129 91.1868 158 115.5 158 147 C 158 178.5 39.0001 114 39.0001 114 C 37.096 53.4563 57.514 29.6287 121.063 0.20199 Z");
    }

    50% {
        
    }

    100% {
        d: path("M 121.063 0.20199 C 121.227 0.0693505 121.374 0.00105562 121.5 0 C 121.354 0.0673598 121.209 0.13469 121.063 0.20199 C 117.774 2.86276 107.608 31.4164 122.29 62.5 C 136.129 91.1868 158 115.5 158 147 C 158 178.5 39.0001 114 39.0001 114 C 37.096 53.4563 57.514 29.6287 121.063 0.20199 Z");
    }
}