.notfound {
    height: var(--fullScreen);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--darkModeFontColor);
    gap: 4rem;

    &--header {
        font-family: "Courier New", Courier, monospace;
        @media only screen and (max-width: 900px) {
            font-size: 3.5rem;
        }

        @media only screen and (max-width: 800px) {
            font-size: 3rem;
        }

        @media only screen and (max-width: 700px) {
            font-size: 2.5rem;
        }

        @media only screen and (max-width: 600px) {
            font-size: 2rem;
        }

        @media only screen and (max-width: 500px) {
            font-size: 1.5rem;
        }
    }

    &--button {
        border: none;
        padding: 2rem;
        background-color: var(--orange);
        transform: skewX(-30deg);
        color: inherit;
        font-size: 1.7rem;
        text-decoration: none;
        transition: all 0.4s;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

        &:hover {
            color: #fff;
            transform: skewX(-40deg);
            & > * {
                transform: skewX(40deg);
            }
        }

        & > * {
            transition: inherit;
            transform: skewX(30deg);
        }
    }

    &--svg {
        width: 60rem;
        height: max-content;

        @media only screen and (max-width: 900px) {
            width: 50rem;
        }

        @media only screen and (max-width: 800px) {
            width: 40rem;
        }

        @media only screen and (max-width: 600px) {
            width: 30rem;
        }

        @media only screen and (max-width: 500px) {
            width: 25rem;
        }
    }
}


