.payment-page{
  .cal-date-meals {
    width: 100%;
  }
  
  .card {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-color: #001e6c;
    transition: 0.5s;
  
    h1 {
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      letter-spacing: 0.4rem;
    }
  
    .card-header-text {
      font-size: 2.2em;
    }
  
    ul {
      margin: 0 auto;
      width: 80%;
      height: 60%;
  
      list-style: none;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  
    li {
      width: 100%;
      margin-top: 12px;
      padding-bottom: 12px;
  
      font-size: 14px;
      text-align: center;
  
      position: relative;
    }
  
    .card li:nth-child(2n) {
      color: white;
    }
  
    hr{ color: white}
  
    li:not(:last-child)::after {
      content: "";
  
      position: absolute;
      bottom: 0;
      left: 0;
  
      width: 100%;
      height: 1px;
  
      background: currentColor;
      opacity: 0.2;
    }
  
    button {
      font-family: inherit;
      font-weight: bold;
      color: white;
  
      letter-spacing: 2px;
  
      padding: 9px 20px;
      border: 1px solid white;
      border-radius: 1000px;
      background: transparent;
      transition: 0.3s;
      cursor: pointer;
      position: relative;
      margin-bottom: 5%;
      margin-top: 5%;
    }
  
    button:hover,
    button:active,
    .checked {
      color: rgb(255, 136, 0);
      background: none;
      border-color: rgb(255, 136, 0);
    }
  }
  .card:hover{
    box-shadow: 1px 1px 10px 1px white;
    transition: 0.5s;
  }
  
  .card button:active {
    transform: translate(2px);
  }
}

.mobile-h1-name{
  font-size: 1.5em!important;
}
.cal {
  margin-top: 3%;

  h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }

  .cal-header {
    font-family: "Times New Roman", Times, serif;
  }

  thead th {
    width: 10%;
    text-align: center;
  }

  .chosable:hover {
    background-color: #00000040;
    cursor: pointer;
    border-radius: 1em;
    padding-right: 0.5em;
  }

  
  .select {
    background-color: #70000040;
    cursor: pointer;
    border-radius: 1em;
    padding-right: 0.5em;
  }

  .cal-date {
    text-align: right;
    width: 100%;
  }
  .cal-th-btn {
    width: 5%;
  }
  .cal-meals-display {
    display: none;
    font-family: "Times New Roman";
  }
  .cal-header th {
    background-color: #00000030;
  }
  .cal-today {
    background-color: #fbff0040;
    border-radius: 2em 0 2em 0;
  }
  .cal-btn {
    max-height: 100% !important;
    height: 100% !important;
    animation-name: rotation;
    animation-duration: 1s;
  }
}

.payment-page {

  .weekdays{
    color:white;
    background-color: #00000030;
  }

  .mobile {
    background-color: var(--accountBackground);
  }

  .desktop {
    border: 2px solid #00000030;
    margin: 20em;
    border-radius: 3em;
    padding: 3em;
    background-color: var(--accountBackground);
    box-shadow: 3px 3px 10px black;
  }

  .div {
    .alert {
      font-size: 1.3em;
      color: white;
      font-style: italic;
    }

    .card-edit {
      box-shadow: 1px 1px 10px 1px white;
      transform: scale(1);
      animation: pulse 2s infinite;
    }

    .btn-div .btn {
      padding: 0.5em 2em;
      border-radius: 2em;
      border: 1px solid white;
      color: white;
      background: none;
      transition: 0.5s;
      letter-spacing: 0.15em;
    }

    .btn-div .btn:hover,
    .btn-pay:hover {
      border: 1px solid rgb(255, 136, 0);
      color: rgb(255, 136, 0);

      transition: 0.5s;
    }

    .notpayable{
      animation-name: moving;
      animation-duration: 0.3s;
      animation-iteration-count: 1;
    }

    .btn-pay {
      border-radius: 2em;
      color: white;
      border: 1px solid white;
      background: none;
      transition: 0.5s;
      letter-spacing: 0.15em;
    }

    .div-hr {
      color: black;
      height: 2px;
      margin-top: 3em;
    }
  }
}

.pay-back-btn {
  text-align: center;
  border-radius: 2em;
  justify-content: center;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 2 0 white;
  }

  50% {
    box-shadow: 0 0 15px 1px white;
  }

  100% {
    box-shadow: 0 0 2 0 white;
  }
}

@keyframes moving {
  0% {
    margin-left: 1em;
  }

  50% {
    margin-right: 1em;
  }

  100% {
    margin-left: 0;
    margin-right: 0;
  }
}
