.permission-popup {
    position: absolute;
    top: 0;
    left: 135px;
    font-size: 1.5rem;
    padding: 2rem;
    display: flex;
    color: #fff;
    border-radius: 10px;    
    align-items: center;
    gap: .5rem;
    background-color: #888;
    transition: all .5s;

    
    &--container {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.356);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        transition: all .2s;    
    }
}