.list-group-item {
  border: none !important;
  margin-bottom: 15%!important;
  background: none!important;
}

textarea {
  resize: none;
  height: 15vh;
}



h1 {
  font-family: "Times New Roman", Times, serif;
  color:white;
  margin: 0.6em;
}

#Report {
  font-family: Georgia;
}
.contact-form {
  background-color: var(--accountBackground);
  margin-bottom: 5%;
  border-radius: 1rem;
  border: 1px solid black;
  box-shadow: 1px 1px 10px 1px black;
  height: 50%!important;
}
.box{
  box-shadow: 1px 1px 10px 1px black;
  background-color:  var(--accountBackground);
  border-radius: 1em;
  width: min-content!important;
  padding: 0.5em;
  border: 1px solid black;
  height: fit-content;
  height: 88%!important;
}
.box li{
  width: 5%;
  margin: 1em;
  margin-bottom: 4em!important;
}
.contact-form .form-control {
  border-radius: 1rem;
}
.contact-h1 {
  text-align: center;
}
.ulHorizontal li{
  margin: 2em 4em;
}
.ulHorizontal{
  width: 100%!important;
}

.form-group { 
  height: 500%;
  margin-bottom: 5%;
}

#Report{
  margin-top: 10em;
}

.contact-form form {
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 1.5em;
}
.contact-form form .row {
  margin-bottom: -7%;
}
.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: min-content;
  border-radius: 2em;
  border: 1px solid white;
  background: none;
  color: white;
  letter-spacing: 0.2em;
  padding: 0.7em 3em;
  transition: 0.5s;
  cursor: pointer;
}

.contact-form .btnContact:hover {
  border: 1px solid rgb(255, 136, 0);
  color: rgb(255, 136, 0);
  transition: 0.5s;
}


.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}
