.Report{
  .header{
    position: relative;
    width: 100%;
    text-align: center;
    background-color: var(--dark-blue);
    color: white;
    padding: 3em;
    
    .icon{
      margin-left: -40em;
      width: 4em;
    }

    h1{
      letter-spacing: 0.15em;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 3.5em;
    }
  }
  .header--hr{
    margin: 0px !important;
    color: var(--darkModeFontColor);
    height: 2px;
  }

  .report-body{
    .--space{
      margin-top: 5em;
    }

    .ReportCard{
      background-color: var(--report-card-bg);
      border-left: var(--light-blue) 10px solid;
      width: 35rem;
      height: 10rem;
      text-align: center;
      border-radius: 0.5rem;
      
      transition: 0.5s;
  
      display: table-cell;
      vertical-align: middle;
  
      .smaller{
        font-size: 1em;
      }
  
      .small{
        font-size: 2em;
      }
  
      .default{
        font-size: 3em;
      }
    }
  
    .--button:hover{
      border-color: blue;
      letter-spacing: 0.1rem;
      color: blue;
      cursor: pointer;
    }
  }

  
}

.Report-Modal{
  .modal-content{
    border-radius: 2em;
  }
  .modal-header{
    border-radius: 1.7em 1.7em 0 0 ;
  }

  .Report-Modal--body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
    textarea{
      resize: none;
      border-radius: 1em !important;
    }
  
    input[type=text]{
      border-radius: 1em !important;
    }
  
    .btn-cancel, .btn-send{
      border-radius: 1em;
      padding: 0.2em 1em;
      font-weight: 800;
  
      border: 1px solid #000000a0;
      color:#000000a0;
  
      transition: 0.5s;
    }
  
    .btn-send:hover{
      border: 1px solid #0011ff;
      color:#0011ff;
    }
  
    .btn-cancel:hover{
        border: 1px solid #ff2121;
        color:#ff2121;
    }
  }
}

.ReportModal{
  .checkbox{
    margin-bottom: 2rem !important;
  }
}