.upload {
    &--container {
        width: 100vw;
        height: var(--fullScreen);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-area {
        width: 100%;
        max-width: 45rem;
        background-color: var(--clr-white);
        box-shadow: 0 10px 60px rgb(218, 229, 255);
        border: 2px solid var(--clr-light-blue);
        border-radius: 24px;
        padding: 2rem 1.875rem 5rem 1.875rem;
        margin: 0.625rem;
        text-align: center;
        color: var(--clr-black);
        font-family: "Poppins", sans-serif;
        font-size: 1.8rem;

        &--open {
            /* Slid Down Animation */
            animation: slidDown 500ms ease-in-out;
        }

        &__title {
            font-size: 1.8em;
            font-weight: 500;
            margin-bottom: 0.3125em;
        }

        &__paragraph {
            font-size: 0.9375em;
            color: var(--clr-light-gray);
            margin-top: 0;            
        }

        &__tooltip {
            position: relative;
            color: var(--clr-light-blue);
            cursor: pointer;
            transition: color 300ms ease-in-out;
            margin-left: .5rem;

            &:hover {
                color: var(--clr-blue);
            }

            &:hover .upload-area__tooltip-data {
                opacity: 1;
                visibility: visible;
            }

            &-data {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -125%);
                min-width: max-content;
                background-color: var(--clr-white);
                color: var(--clr-blue);
                border: 1px solid var(--clr-light-blue);
                padding: 0.625em 1.25em;
                font-weight: 500;
                opacity: 0;
                visibility: hidden;
                transition: none 300ms ease-in-out;
                transition-property: opacity, visibility;
            }
        }
    }
}

/* Drop Zoon */
.upload-area__drop-zoon {
    position: relative;
    height: 11.25em; /* 180px */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed var(--clr-light-blue);
    border-radius: 15px;
    margin-top: 2.1875em;
    cursor: pointer;
    transition: border-color 300ms ease-in-out;
}

.upload-area__drop-zoon:hover {
    border-color: var(--clr-blue);
}

.drop-zoon__icon {
    display: flex;
    font-size: 3.75em;
    color: var(--clr-blue);
    transition: opacity 300ms ease-in-out;
}

.drop-zoon__paragraph {
    font-size: 0.9375em;
    color: var(--clr-light-gray);
    margin: 0;
    margin-top: 0.625em;
    transition: opacity 300ms ease-in-out;
}

.drop-zoon:hover .drop-zoon__icon,
.drop-zoon:hover .drop-zoon__paragraph {
    opacity: 0.7;
}

.drop-zoon__loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    color: var(--clr-light-blue);
    z-index: 10;
}

.drop-zoon__preview-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    object-fit: contain;
    padding: 0.3125em;
    border-radius: 10px;
    display: none;
    z-index: 1000;
    transition: opacity 300ms ease-in-out;
    color: #1D6F42;
}

.drop-zoon:hover .drop-zoon__preview-image {
    opacity: 0.8;
}

.drop-zoon__file-input {
    display: none;
}

/* (drop-zoon--over) Modifier Class */
.drop-zoon--over {
    border-color: var(--clr-blue);
}

.drop-zoon--over .drop-zoon__icon,
.drop-zoon--over .drop-zoon__paragraph {
    opacity: 0.7;
}

/* (drop-zoon--over) Modifier Class */
.drop-zoon--Uploaded {
}

.drop-zoon--Uploaded .drop-zoon__icon,
.drop-zoon--Uploaded .drop-zoon__paragraph {
    display: none;
}

/* File Details Area */
.upload-area__file-details {
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: left;
    transition: none 500ms ease-in-out;
    transition-property: opacity, visibility;
    transition-delay: 500ms;
}

/* (duploaded-file--open) Modifier Class */
.file-details--open {
    height: auto;
    visibility: visible;
    opacity: 1;
}

.file-details__title {
    font-size: 1.125em;
    font-weight: 500;
    color: var(--clr-light-gray);
}

/* Uploaded File */
.uploaded-file {
    display: flex;
    align-items: center;
    padding: 0.625em 0;
    visibility: hidden;
    opacity: 0;
    transition: none 500ms ease-in-out;
    transition-property: visibility, opacity;
}

/* (duploaded-file--open) Modifier Class */
.uploaded-file--open {
    visibility: visible;
    opacity: 1;
}

.uploaded-file__icon-container {
    position: relative;
    margin-right: 0.3125em;
}

.uploaded-file__icon {
    font-size: 3.4375em;
    color: var(--clr-blue);
}

.uploaded-file__icon-text {
    position: absolute;
    top: 1.5625em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9375em;
    font-weight: 500;
    color: var(--clr-white);
}

.uploaded-file__info {
    position: relative;
    top: -0.3125em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.uploaded-file__info::before,
.uploaded-file__info::after {
    content: "";
    position: absolute;
    bottom: -0.9375em;
    width: 0;
    height: 0.5em;
    background-color: #ebf2ff;
    border-radius: 0.625em;
}

.uploaded-file__info::before {
    width: 100%;
}

.uploaded-file__info::after {
    width: 100%;
    background-color: var(--clr-blue);
}

/* Progress Animation */
.uploaded-file__info--active::after {
    animation: progressMove 800ms ease-in-out;
    animation-delay: 300ms;
}

@keyframes progressMove {
    from {
        width: 0%;
        background-color: transparent;
    }

    to {
        width: 100%;
        background-color: var(--clr-blue);
    }
}

.uploaded-file__name {
    width: 100%;
    max-width: 6.25em; /* 100px */
    display: inline-block;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uploaded-file__counter {
    font-size: 1em;
    color: var(--clr-light-gray);
}
