#Login_header {
    position: absolute;
    width: 100%;
    height: auto;
    top: 72px;    

    h2 {
        font-family: Georgia, "Times New Roman", Times, serif;
        margin: 0 1%;
        float: right;
        font-size: 30px;
        transition: 1s;

        &:hover {
            font-size: 35px;
        }
    }
}

#login {
    text-align: center;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 200px;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.dropdown {
    float: right;

    &:hover .dropdown-content {
        display: block;
    }

    &:hover .dropbtn {
        background-color: #3c6794;
    }

    &--item {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &--Eatrend {
        background-image: linear-gradient(to right, #adf7b0 10%, #ffffff00 90%);
    }

    &--icon-img {
        height: 18px;
        width: auto;        
    }
}

.dropdown--content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;    

        &:hover {
            background-color: #ddd;
        }
    }
}

.form-popup {
    display: none;
    position: fixed;
    top: 130px;
    right: 0px;
    z-index: 9;
    color: white;
    border-radius: 0px 0px 0px 20px;
}

.form-container {
    max-width: 300px;
    padding: 10px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-image: linear-gradient(to left, #00470a, #00b400);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-image: linear-gradient(to right, #5c0000, #300606);
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.Login_icon {
    height: 25px;
    width: auto;
}
